//Colors
$red: #ED1C24;
$dark-red: #B5161B;
$lightest-gray: #ebebeb;
$lighter-gray: #b7b7b7;
$gray: #AEAEAE;
$medium-gray: #898989;
$dark-gray: #636363;
$darker-gray: #373737;
$white: #FFF;
$black: #000;


//Font Size
$smaller: 10px;
$small: 11px;
$normal: 12px;
$medium: 13px;
$large: 22px;